/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
main {
    margin: 0 10px;
}

/* HEADER */
header {
    background-image: url(../img/pattern.png);
    background-color: rgba(78,160,255,255);
    background-size: 500px;
    height: 120px;
}

.logo {
    width: 250px;
    margin: 45px 10px;
}

/* MAIN */
/* SECTION TITLE */
.section-title {
    margin: 20px 0;
}

.title {
    font-size: 4rem;
}

.info-title {
    font-size: 1.5rem;
    color: rgba(135,135,135,255);
}

.info-title span {
    color: rgba(33,169,229,255);
}

.data {
    color: rgba(135,135,135,255);
}

/* SECTION IMG */
.section-img {
    margin: 30px 0;
}

.tim-img {
    height: 500px;
}

/* SECTION LIST */
.paragraph {
    font-size: 1.5rem;
    margin: 40px 0;
}

.paragraph span {
    background-color: rgba(255,255,0,255);
}

.list {
    font-size: 1.5rem;
    margin: 30px 0;
    padding: 0 20px;
}
