/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */


/* HEADER */
header {
    background-image: url(../img/pattern.png);
    background-color: rgba(78,160,255,255);
    background-size: 500px;
    height: 120px;
}

.logo {
    width: 250px;
    margin: 45px 10px;
}

/* MAIN */
.section-title {
    margin: 0 10px;
}

.title {
    font-size: 4rem;
    margin-top: 20px;
}

.info-title {
    font-size: 1.5rem;
    color: rgba(135,135,135,255);
}

.info-title span {
    color: rgba(33,169,229,255);
}

.data {
    color: rgba(135,135,135,255);
}